
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 30px;
}
body {
    background: transparent url("") no-repeat right bottom;
    background-size: 300px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px 20px;
    width: 100vw;
    height: auto;
}
.headertitle {
    border: 2px solid #fff;
    display: block;
    width: 1310px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
}
.allobj {
    display: block;
    width: 1310px;
}
.allobj thead, .allobj tbody {
    background: #fff;
    display: block;
    border: 2px solid #09e;
    margin: 2px;
    padding: 5px;
}
.rowtitle {
    display: block;
    margin: 10px 0;
    padding: 0;
}
.rowtitle th {
    height: 30px;
    width: 300px;
    text-align: left;
    font-size: 16px;
}
.rowtitle th:first-child {
    width: 80px;
    text-align: center;
}
.rowtitle th:nth-child(2) {
    width: 300px;
}
#contain td {
    width: 300px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 0;
    cursor: pointer;
    height: auto;
}
#contain td:hover {
    background: #ddd;
}
tr>td:first-child {
    width: 80px !important;
    text-align: center;
}
tr>td:nth-child(2) {
    width: 300px !important;
}
.tdd li {
    list-style-type: none;
    line-height: 30px;
    margin-top: 2px;
    text-indent: 5px;
}
.tdd li.diff {
    width: 100%;
    margin-top: 5px;
}
.tdd div.pic {
    background: rgb(255, 255, 255, 0);
    display: block;
    position: absolute;
    width: 110px;
    height: 120px;
    overflow: hidden;
    top: 3px;
    right: 3px;
}
.tdd div.pic img {
    width: 100%;
    object-fit: contain;
}
.diff span {
    border-radius: 0;
    display: block;
    height: 70px;
    line-height: 30px;
    text-indent: 10px;
}
.diff span.good,.diff span.best {
    padding: 20px 0;
    font-size: 20px;
}
.kill {
    background: #d55;
    color: #eee;
    padding: 20px 10px;
    font-size: 22px;
    font-weight: 500;
}
.bad {
    position: inherit;
    background: #cb2;
    color: #eee;
    padding: 5px 2px;
    font-size: 16px;
    font-weight: 500;
}
.bad b:first-child {
    font-family: 黑体;
    font-weight: 500;
    display: block;
    height: 20px;
    text-indent: 0;
    font-size: 20px;
    font-style: italic;
}
.bad b:nth-child(2) {
    position: inherit;
    padding: 10px 0;
    color: #d55;
    font-size: 30px;
    font-weight: 800;
}
.bad b:nth-child(3) {
    color: #d55;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.good {
    background: #09e;
    color: #eee;
    font-size: 16px;
    font-weight:400;
}
.best {
    background: #2b5;
    color: #eee;
    font-size: 16px;
    font-weight:400;
}
#pop {
    position: absolute;
    display: none;
    width: 100%;
}
#alertkill, #alertbad {
    position: fixed;
    z-index: 999;
    width: 800px;
    height: 120px;
    border-radius: 20px;
    padding: 30px 20px;
    font-size: 60px;
    color: white;
    display: none;
}
#alertkill {
    background-color: #f44134e6;
    left: 2%;
    bottom: 15%;
    animation: moveToRight 3s ease-in-out;
    animation-delay: 100ms;
}
#alertbad {
    background-color: #d8db2efa;
    z-index: 990;
    left: 2%;
    bottom: 3%;
    animation: moveToRight 5s ease-in-out;
    animation-delay: 500ms;
}
@keyframes moveToRight {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}
#alertk strong, #alertb strong {
    font-size:50px;
    font-weight: 500;
}
#alertk, #alertb {
    font-size: 25px;
}
  
.closebtn {
    margin-top: -20px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.3s;
    transition-delay: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

#blue {
    color: #fff;
    background: #09e;
    width: 25%;
}
#green {
    color: #fff;
    background: #2b5;
    width: 25%;
}
#yer {
    color: #fff;
    background: #cb2;
    width: 25%;
}
#red {
    color: #fff;
    background: #d66;
    width: 25%;
}
